body {
  text-align: center;
}

text {
  font-size: 4em;
  text-align: center;
}

button {
  display: inline-block;
  margin: 0.5em 2em;
  font-size: 1.1em;
  cursor: pointer;
  border: 3px solid rgb(44, 44, 44);
}

video {
  border: 3px solid rgb(30, 49, 73);
  width: 100%;
  background-color: rgb(192, 192, 192);
}
